@model AmdmWeb.Models.Performer.PerformerPageModel
@{
    ViewBag.Title = "Performer";
}
<br />
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="@Url.Action("Index", "Home")">Main</a>
    /
    <span class="breadcrumb-item active">@Model.Performer.Name</span>
</nav>

<h2><img src=@Model.Performer.ImageLink /> <a href="@Model.Performer.PerformerPageLink">@Model.Performer.Name</a></h2>

@Model.Performer.BiographyText

<br />
<div id="page">
    <table class="table table-striped">
        <thead>
            <tr>


                <th id="name">
                    @if (Model.SortAndPageData.SongsSortingType == AmdmData.Enums.SongsSortingTypes.ByName)
                    {
                        using (Ajax.BeginForm("SongsPage", new { songSortingType = AmdmData.Enums.SongsSortingTypes.ByNameBack }, new AjaxOptions { UpdateTargetId = "page", HttpMethod = "Get" }))
                        {
                            <input type="submit" class="btn btn-link" value="Name " />
                        }                        
                    }
                    else
                    {
                        using (Ajax.BeginForm("SongsPage", new { songSortingType = AmdmData.Enums.SongsSortingTypes.ByName }, new AjaxOptions { UpdateTargetId = "page", HttpMethod = "Get" }))
                        {
                            if (Model.SortAndPageData.SongsSortingType == AmdmData.Enums.SongsSortingTypes.ByNameBack)
                            {
                                <input type="submit" class="btn btn-link" value="Name " />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-link" value="Name" />
                            }
                        }
                    }



                </th>
                <th id="Chords">
                    @if (Model.SortAndPageData.SongsSortingType == AmdmData.Enums.SongsSortingTypes.ByChordCount)
                    {
                        using (Ajax.BeginForm("SongsPage", new { songSortingType = AmdmData.Enums.SongsSortingTypes.ByChordCountBack }, new AjaxOptions { UpdateTargetId = "page", HttpMethod = "Get" }))
                        {
                            <input type="submit" class="btn btn-link" value="Chords" />
                        }                        
                    }
                    else
                    {
                        using (Ajax.BeginForm("SongsPage", new { songSortingType = AmdmData.Enums.SongsSortingTypes.ByChordCount }, new AjaxOptions { UpdateTargetId = "page", HttpMethod = "Get" }))
                        {
                            if (Model.SortAndPageData.SongsSortingType == AmdmData.Enums.SongsSortingTypes.ByChordCountBack)
                            {
                                <input type="submit" class="btn btn-link" value="Chords" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-link" value="Chords" />
                            }
                        }
                    }
                </th>
                <th>
                    @if (Model.SortAndPageData.SongsSortingType == AmdmData.Enums.SongsSortingTypes.ByViews)
                    {
                        using (Ajax.BeginForm("SongsPage", new { songSortingType = AmdmData.Enums.SongsSortingTypes.ByViewsBack }, new AjaxOptions { UpdateTargetId = "page", HttpMethod = "Get" }))
                        {
                            <input type="submit" class="btn btn-link" value="Views" />
                        }
                    }
                    else
                    {
                        using (Ajax.BeginForm("SongsPage", new { songSortingType = AmdmData.Enums.SongsSortingTypes.ByViews }, new AjaxOptions { UpdateTargetId = "page", HttpMethod = "Get" }))
                        {
                            if (Model.SortAndPageData.SongsSortingType == AmdmData.Enums.SongsSortingTypes.ByViewsBack)
                            {
                                <input type="submit" class="btn btn-link" value="Views" />
                            }
                            else
                            {
                                <input type="submit" class="btn btn-link" value="Views" />
                            }
                        }
                    }
                </th>
            </tr>
        </thead>
        <tbody id="list">
            @foreach (var song in Model.Performer.Songs)
            {
                <tr onclick="window.location.href='@Url.Action("Song", "Song", new { songNumber = song.NumberOnThePage + Model.SortAndPageData.SongsPageNumber * Model.PageSize, songSortingType = Model.SortAndPageData.SongsSortingType })';  return false">
                    <td>@song.Name</td>
                    <td>@song.ChordsAmount</td>
                    <td>@song.Views</td>
                </tr>
            }
        </tbody>
    </table>
    <table id="pages" class="table table-striped">
        <tr class="text-center">
            <td id="first">
                @if (Model.SortAndPageData.SongsPageNumber == 1)
                {                    
                        <input type="submit" class="btn btn-link" value="<<" disabled />                    
                }
                else
                {
                    using (Ajax.BeginForm("SongsPage", new { songSortingType = Model.SortAndPageData.SongsSortingType, songPageNumber = 1 }, new AjaxOptions { UpdateTargetId = "page", HttpMethod = "Get" }))
                    {
                        <input type="submit" class="btn btn-link" value="<<" />
                    }
                }


            </td>
            <td id="prev">
                @if (Model.SortAndPageData.SongsPageNumber == 1)
                {
                    <input type="submit" class="btn btn-link" value="<" disabled />
                }
                else
                {
                    using (Ajax.BeginForm("SongsPage", new { songSortingType = Model.SortAndPageData.SongsSortingType, songPageNumber = Model.SortAndPageData.SongsPageNumber - 1 }, new AjaxOptions { UpdateTargetId = "page", HttpMethod = "Get" }))
                    {
                        <input type="submit" class="btn btn-link" value="<" />
                    }
                }
            </td>
            <td id="next">
                @if (Model.SortAndPageData.SongsPageNumber == Model.SortAndPageData.LasPageNumber)
                {
                    <input type="submit" class="btn btn-link" value=">" disabled />
                }
                else
                {
                    using (Ajax.BeginForm("SongsPage", new { songSortingType = Model.SortAndPageData.SongsSortingType, songPageNumber = Model.SortAndPageData.SongsPageNumber + 1 }, new AjaxOptions { UpdateTargetId = "page", HttpMethod = "Get" }))
                    {
                        <input type="submit" class="btn btn-link" value=">" />
                    }
                }
            </td>
            <td id="last">
                @if (Model.SortAndPageData.SongsPageNumber == Model.SortAndPageData.LasPageNumber)
                {
                    <input type="submit" class="btn btn-link" value=">>" disabled />
                }
                else
                {
                    using (Ajax.BeginForm("SongsPage", new { songSortingType = Model.SortAndPageData.SongsSortingType, songPageNumber = Model.SortAndPageData.LasPageNumber }, new AjaxOptions { UpdateTargetId = "page", HttpMethod = "Get" }))
                    {
                        <input type="submit" class="btn btn-link" value=">>" />
                    }
                }
            </td>
        </tr>
    </table>
</div>



