@model AmdmWeb.Models.Performer.PerformerPageModel
@{
    ViewBag.Title = "Performer";
}

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/client-server.js"></script>

<br />

<ol class="breadcrumb">    
    <li>@Html.ActionLink("Main", "Index", "Home")</li>    
    <li class="active">@Model.Performer.Name</li>
</ol>



<script>
    
    $(function () {
        var url = window.location.href;
        var ajaxURL = '@Url.Action("SongsPage","Performer")';
        var splitedURL = url.split("=");
        if (splitedURL.length > 2) {
            var id = splitedURL[1].split("&")[0];
            var sortType = splitedURL[2].split("&")[0];
            if (splitedURL.length > 3) {
                var page = splitedURL[3];
            }
            else {
                var page = "1";
            }
        }
        else {
            var id = splitedURL[1];
            var sortType = "ByName";
            var page = "1";
        }
        history.replaceState(null, null, 'Performer?performerId=' + id + '&amp;s=' + sortType + '&amp;page=' + page);
        $.ajax({
            type: "Get",
            url: ajaxURL,
            data: { performerId: id, songSortingType: sortType, songPageNumber: page },
            dataType: 'html',
            success: function (data) {

                $('#page').html(data);
            },
            replace: page
        });
    });
</script>
<h2><img src=@Model.Performer.ImageLink /> <a href="@Model.Performer.PerformerPageLink">@Model.Performer.Name</a></h2>

@Model.Performer.BiographyText

<br />
<div id="page">
    
</div>

<div id="alertDiv">

</div>



