@model AmdmWeb.Models.Song.SongEditModel

<script>
    $(document).ready(function () {
        $("#closeBtn").click(function () {
            debugger;
            $("#myModal").modal('hide');
            var ajaxURL = '@Url.Action("CloseEditSong","Song")';

            $.ajax({
                type: "Get",
                url: ajaxURL,
                dataType: 'html',
                success: function (data) {
                    debugger;
                    $('#myModal').html(data);
                },
                replace: myModal

            });
        });

    });

</script>

<div id="editModal" class="modal-dialog modal-lg">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" id="closeBtn">&times;</button>

        </div>
        <div id="save">
            @using (Ajax.BeginForm("SaveSong", new AjaxOptions { UpdateTargetId = "save" }))
            {
                <div class="modal-body">

                    @Html.TextBoxFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Id, new { style = "display: none;" })

                    <script>
                        var engine = new Bloodhound({
                            local: [{ value: 'red' }, { value: 'blue' }, { value: 'green' }, { value: 'yellow' }, { value: 'violet' }, { value: 'brown' }, { value: 'purple' }, { value: 'black' }, { value: 'white' }],
                            datumTokenizer: function (d) {
                                return Bloodhound.tokenizers.whitespace(d.value);
                            },
                            queryTokenizer: Bloodhound.tokenizers.whitespace
                        });
                        engine.initialize();
                        $('#tokenfield-typeahead').tokenfield({
                            typeahead: [null, { source: engine.ttAdapter() }]
                        });
                    </script>
                        @Html.TextBoxFor(m => m.Chords, new { @class="form-control", @id="tokenfield-typeahead"})
                    <p>
                        @Html.TextAreaFor(m => m.Text, new { @class = "form-control", @rows = "20" })
                    </p>

                </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Save" />
                    </div>
            }
        </div>

    </div>
</div>

