@model AmdmWeb.Models.Song.SongPageModel
<script>
    $(document).ready(function () {
        debugger;
        $("#myBtn").click(function () {
            debugger;
                window.location.href='@Url.Action("SongEditPage", "Song", new { songId = Model.Song.Id, s = Model.SortAndPageData.SongsSortingType })';                                
            });
        });
</script>
<div>
    <h2>
        <a href="@Model.Song.SongPageLink">@Model.Song.Name <span class="badge">@Model.Song.Views</span></a>


        <a  href="@Model.Song.VideoLink"><span class="glyphicon glyphicon-film" aria-hidden="true"></span></a>
        <a class="pull-right btn-link" ><pre>     </pre></a>
        <button type="button" class="btn btn-link btn-lg pull-right" id="myBtn"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
    </h2>
    <div id="myModal" class="modal fade" role="dialog"></div>


    <table class="table table-striped">
        <tr>
            <td class="col-md-6">
                <pre>@Model.Song.Text</pre>
            </td>
            <td class="col-md-6">
                <div class="container">
                    <div class="row">
                        @foreach (var chord in Model.Song.Chords)
                        {
                            <div class="panel panel-info col-md-4">
                                <div class="panel-heading">@chord.Name</div>
                                <div class="panel-body">
                                    <img src=@chord.ImageLink />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </td>
        </tr>
    </table>
    </div>
